$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;

@mixin xs {
  @media only screen and (max-width: ($sm-breakpoint - 1)) {
    @content;
  }
}

@mixin sm-only {
  @media screen and (min-width: $sm-breakpoint) and (max-width: ($md-breakpoint - 1)) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $sm-breakpoint) {
    @content;
  }
}

@mixin md-only {
  @media screen and (min-width: $md-breakpoint) and (max-width: ($lg-breakpoint - 1)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md-breakpoint) {
    @content;
  }
}

@mixin lg-only {
  @media screen and (min-width: $lg-breakpoint) and (max-width: ($xl-breakpoint - 1)) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg-breakpoint) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $xl-breakpoint) {
    @content;
  }
}
