@font-face {
  font-family: "Cupra";
  src: url("@/assets/fonts/Cupra-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Cupra";
  src: url("@/assets/fonts/Cupra-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Cupra";
  src: url("@/assets/fonts/Cupra-Medium.woff") format("woff");
  font-weight: 500;
}